# Core Django framework
Django>=4.2,<5.0

# Django extensions & add-ons
django-filter==24.3
django-mail-templated
django-cors-headers

# Django REST Framework (DRF)
djangorestframework==3.15.2
djangorestframework-simplejwt

# API documentation
drf-yasg[validation]

# Configuration & environment management
python-decouple==3.8

# Code formatting & linting
black
flake8

# Testing
pytest
pytest-django

# Fake data generation
Faker

# Background processing & caching
celery
redis
django-celery-beat
django-redis

# HTTP requests
requests

# Deployment
gunicorn

# Database
psycopg2-binary

